#Aboutus {
    background-color: white;
  }



  #services {
    background-color: rgb(168, 228, 170);
    height: 42vw
  }

  .card{

  

  
    margin: 0.5vw;
  }

  .card-social{

    height:5vw;
    width:20vw;
  
    margin: 0.5vw;
  }
  


  #Treatment {
    background-color: rgb(168, 228, 170);
    height: 42vw
  }
  .card-block{
    background-color: rgb(168, 228, 170);
    height:24vw;
  }

  #footer{
    position:relative;
    margin-top: 20vh;
    background-color: rgb(168, 228, 170);
    height:5vw;
    width:100%

  }

  #doctor{
    background-color: rgb(168, 228, 170);
 
  }


  .how-section1{
    margin-top:-15%;
    padding: 10%;
}
.how-section1 h4{
    color: #07df2f;
    font-weight: bold;
    font-size: 30px;
}
.how-section1 .subheading{
    color: #100f0f;
    font-size: 20px;
}
.how-section1 .row
{
    margin-top: 10%;
}
.how-img 
{
    text-align: center;
}
.how-img img{
    width: 100%;
    height: 100%;
    align-items: flex-start;
}

#media{
  background-color: rgb(168, 228, 170);
  height:25vw;
}


#nnn {


    overflow: hidden;
    background-color: #050505;
    position: fixed;
    z-index: 1;
    width: 100%;
  
  
    
  }
  #nnn:hover {

background-color: #84e59b;
  }


  .nav-link:hover {

    background-color: #606762;
      }